<div layout="column" ng-cloak class="md-inline-form">
  <md-subheader class="md-no-sticky">{{subHeader}} Event</md-subheader>
  <md-content layout-padding>
    <form name="createEventForm" ng-submit="saveEvent(event)">
        <div layout layout-sm="column">
	      	<md-input-container flex>
				<label>Name</label>
				<input ng-model="event.name">
		    </md-input-container flex>
		</div>
		<div layout layout-sm="column">
		    <md-input-container>
		      	<label>Organization Name</label>
		      	<input ng-model="event.organization_name" type="text" >
		    </md-input-container>
		</div>
		<div layout layout-sm="column">
	      	<md-input-container flex>
				<label>Description</label>
				<input ng-model="event.description">
		    </md-input-container flex>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex>
				<label>Event Type</label>
				<md-select ng-model="event.type">
					<md-option ng-repeat="type in types" value="{{type.value}}">
					  {{type.name}}
					</md-option>
				</md-select>
	        </md-input-container>	        
		</div>
		<div layout="column" layout-margin layout-wrap ng-if= "event.type == 'pledge'">
			<md-input-container flex="44">
		      	<label>Target</label>
		      	<input ng-model="event.target" >
		    </md-input-container>
		    <md-input-container flex="44">
		      	<label>Collected</label>
		      	<input ng-model="event.collected">
		    </md-input-container>
		</div>
		<div layout="column" layout-margin layout-wrap ng-if= "event.type == 'ticket_sale'">
			<md-input-container flex>
		      	<label>Ticket Price</label>
		      	<input ng-model="event.ticket_price" type="number" min="0" >
		    </md-input-container>		    
		</div>
		
		<div layout layout-sm="column">
	        <md-input-container flex>
	          	<label>Address</label>
	          	<input ng-model="event.address" type="text" >
	        </md-input-container>
        </div>
        <div layout layout-sm="column">
        	<input type="date" name = "date_time" ng-model="event.date_time">
      		<!-- <md-datepicker ng-model="event.date_time" md-placeholder="Enter date"></md-datepicker> -->
        </div>
        <div layout layout-sm="row">
      		<md-button type="submit" aria-label="Save Event" class="md-raised md-primary">{{action}}</md-button>
        </div>
      
    </form>
  </md-content>
</div>