<div class="inset" hide-sm></div>
<div role="tabpanel" id="tab1-content" aria-labelledby="tab1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
    <md-list flex ng-cloak>
        <md-subheader class="md-no-sticky">Prayer Times</md-subheader>
        <!-- <md-list-item class="md-2-line md-with-secondary" ng-repeat="salat in salats">
            <md-icon md-svg-icon="communication:ic_message_24px"></md-icon>
            <div class="md-list-item-text">
                <h3> {{ salat.time }} </h3>
                <p> {{ salat.name }} </p>
            </div>
            <md-icon md-svg-icon="communication:ic_message_24px" aria-label="Adhan" class="md-secondary md-hue-3"></md-icon>
        </md-list-item> -->
        <md-list-item class="md-2-line" ng-repeat="salat in salats">
            <md-icon ng-if="$index !== 2 && $index !== 5" md-svg-icon="{{salat.alarm?'action:ic_alarm_on_24px':'action:ic_alarm_off_24px'}}" class="md-avatar-icon"></md-icon>
            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 || $index == 5 }">
                <h3> {{ salat.time }} </h3>
                <p> {{ salat.name }} </p>
            </div>
        </md-list-item>
    </md-list>
</div>
