<div layout="column" class="transaction-container">
	<md-content flex  class="account-balace" layout-padding>
		<div layout="column" layout-align="space-around center">
			<div><h4>Account Balance</h4></div>
			<div><h3>$400</h3></div>
			<div><h6>Last payment received on 25/4/2015</h6></div>
		</div>
	</md-content>
  	<md-content flex>	  	
	    <md-list>
	    	<md-subheader class="md-no-sticky">Transaction History</md-subheader>
	    	<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p>	<p>- $100 received by Bank Transfe</p>
			    </md-content>
			    
			</md-list-item>
			<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p>	<p>- $100 received by Bank Transfe</p>
			    </md-content>
			    
			</md-list-item>
			<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p>	<p>- $100 received by Bank Transfe</p>
			    </md-content>
			    
			</md-list-item>
			<md-list-item >		        
			    <md-content flex  layout="column" layout-align="center">    
			    	<p>more...</p>
			    </md-content>
			</md-list-item>
	    </md-list>
  	</md-content>
  	<md-divider></md-divider>
  	<md-content flex>
  		<md-list>
	  		<md-subheader class="md-no-sticky">Upcoming Events</md-subheader>
		    <md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p> <p>(6:25 PM)</p>	<p>- Lecture on Halal Money</p>
			    </md-content>
			    
			</md-list-item>
			<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p> <p>(6:25 PM)</p>	<p>- Lecture on Halal Money</p>
			    </md-content>
			    
			</md-list-item>
			<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p> <p>(6:25 PM)</p>	<p>- Lecture on Halal Money</p>
			    </md-content>
			</md-list-item>
			<md-list-item >
		        <md-icon md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
			    <md-content flex layout="row">    
			    	<p>25/05</p> <p>(6:25 PM)</p>	<p>- Lecture on Life in this world</p>
			    </md-content>
			</md-list-item>
			<md-list-item >		        
			    <md-content flex layout="column" layout-align="center">    
			    	<p>more...</p>
			    </md-content>
			</md-list-item>
		</md-list>
  	</md-content>
</div>